@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 224, 224, 224;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.crawl-item {
  opacity: 0;
  animation:
    fadeIn 0.01s ease-in forwards,
    fadeIn 0.1s ease-in forwards;
}

input:focus {
  outline: none;
  box-shadow: none; /* Removes any box-shadow if present */
}

/* Tables Styles */

.table_container {
  @apply border bg-white shadow rounded-md h-[38rem] overflow-hidden;

  h2 {
    margin-left: 0.5em;
    margin-bottom: 0.6em;
    text-align: left;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

thead {
  @apply z-20 overflow-clip bg-white border-b-2;
}

th {
  padding: 4px 0 1em 1em;
  position: sticky;
  top: 0;
  /* background-color: slategray; */
  z-index: 1;
  color: black;
  background-color: white;
}

tr {
  padding: 20px 0;
  vertical-align: center;
  z-index: 0;
}

td {
  padding: 2px 0;
  border: 1px solid #ddd;
  vertical-align: center;
  @apply text-sm;
  z-index: 0;
}

:is(tbody, table) > tr:nth-child(odd) {
  background: #0001;
}

pre {
  display: overflow-scroll;
  height: 28rem !important;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 4px 11px rgba(0, 0, 0, 0.1);
}

.mantine-Drawer-root,
.mantine-Drawer-inner,
.mantine-Drawer-content {
  margin: 75px 0 35px 0;
  overflow: hidden !important ;
  padding: 0 !important;
}

.mantine-Drawer-body {
  padding: 0 !important;
}

.todoItems {
  height: calc(85vh - 100px);
  overflow: unset;
  padding-right: 10px;
}
