@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 224, 224, 224;
  --background-end-rgb: 255, 255, 255;
}

h1 {
  font-size: 1rem !important;
}

h2 {
  font-size: 0.9rem;
}

h3 {
  font-size: 0.9rem !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.crawl-item {
  opacity: 0;
  animation:
    fadeIn 0.01s ease-in forwards,
    fadeIn 0.1s ease-in forwards;
}

input:focus {
  outline: none;
  box-shadow: none; /* Removes any box-shadow if present */
}

/* Tables Styles */

.table_container {
  @apply bg-slate-200 border dark:border-brand-dark dark:bg-brand-darker dark:text-white shadow rounded-md h-[38rem] overflow-hidden  !important;

  div {
    @apply dark:text-white dark:bg-brand-darker mt-0 !important;
  }

  h2 {
    @apply dark:text-white;
    margin-left: 0.5em;
    margin-bottom: 0.6em;
    text-align: left;
  }

  p {
    @apply dark:text-white !important;
  }
}

/* Webkit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply dark:bg-gray-800 rounded-none;
}

table {
  @apply dark:bg-brand-darker dark:text-white border-0 !important;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}
/**/
/*thead {*/
/*  @apply z-20 overflow-clip bg-white border-b-2 dark:border-b-white/10 dark:bg-brand-darker dark:text-white !important;*/
/*}*/

tbody {
  @apply bg-white dark:bg-brand-darker dark:text-white border-0 !important;
}

th {
  @apply dark:bg-brand-darker dark:text-white border-0 !important;
  padding: 4px 0 1em 1em;
  position: sticky;
  top: 0;
  background-color: slategray;
  z-index: 1;
  color: black;
  background-color: white;
}

tr {
  @apply dark:border-white/20 !important;
  padding: 20px 0;
  vertical-align: center;
  z-index: 0;
}

td {
  padding: 2px 0;
  vertical-align: center;
  @apply text-sm dark:border-brand-dark !important;
  z-index: 0;
  font-size: 0.8rem !important;
}

:is(tbody, table) > tr:nth-child(odd) {
  background: #0001 !important;
}

pre {
  @apply dark:bg-brand-darker dark:text-white/50 border-0 !important;
  overflow: scroll;
  height: 34.6rem !important;
  font-size: 0.8rem !important;
}

/* DRAWER */
.mantine-Drawer-root,
.mantine-Drawer-inner,
.mantine-Drawer-content {
  margin: 110px 0 35px 0;
  overflow: hidden !important ;
  padding: 0 !important;
}

.mantine-Drawer-body {
  padding: 0 !important;
}

.todoItems {
  height: calc(85vh - 40px);
  overflow: unset;
  padding-right: 10px;
}

.naked_table {
  @apply dark:border-brand-darker  bg-white dark:bg-brand-darker shadow rounded-md h-[38rem] overflow-hidden;

  h2 {
    @apply p-4 font-semibold text-lg dark:text-white;
  }

  pre {
    @apply dark:bg-brand-darker dark:text-white/50 border-0 !important;
    overflow: scroll;
    height: 87% !important;
    overflow-x: hidden;
  }
}

/*CHARTS COLOURS  */

/* Sapphire */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }
}

.keyword-chart svg {
  min-width: 650px !important;
  margin-left: -200px !important;
  padding: 0 !important;
}

.line_chart {
  .recharts-wrapper svg {
    min-width: 150px !important;
    margin-left: 0px !important;
    padding: 0 !important;
  }
}

button:where([data-active]) {
  border-color: var(--tabs-color);
  @apply dark:bg-white !important;
}

/* CHARTS COLOURS END */

/* TABS COLOURS */

.m_576c9d4::before {
  @apply dark:hidden !important;
}

.m_539e827b {
  @apply dark:bg-transparent !important;
}

.m_539e827b span {
  @apply text-black  dark:text-brand-normal text-xs h-3 !important;
}

.m_539e827b:not([data-active]) {
  @apply text-gray-400   !important;
}

.m_539e827b:where([data-active]) {
  @apply text-black  dark:text-brand-highlight dark:bg-transparent !important;
}

.m_539e827b:hover {
  @apply dark:text-black dark:border-0  !important;
}

.tabs-drawer button span {
  @apply dark:text-brand-darker !important;
}

/*WIDGETS*/

.widget {
  @apply border w-56 2xl:w-full  dark:bg-brand-darker dark:border-brand-dark h-[7.8em] !important;
}

.widget > div > h2:first-of-type {
  @apply text-sky-dark !important;
}

.widget > div > h2:last-of-type {
  @apply dark:text-brand-background/50 text-gray-500 font-semibold;
}

.widget div span:first-of-type {
  @apply dark:text-sky-500 text-gray-500 !important;
}

/*TIMES*/

.widget div span:last-of-type {
  @apply text-brand-normal dark:text-sky-500 text-sky-500;
}

.widget span svg {
  @apply text-brand-highlight;
}

.widget div > svg {
  @apply text-brand-highlight;
}

/*SVG HOVER BUTTON*/
.widget button {
  @apply dark:text-brand-normal/60;
}

.widget div span:last-of-type {
  @apply dark:text-brand-background/60;
}
/* Custom Select Element */
.custom-select {
  @apply text-black bg-white dark:bg-[#171717] dark:text-white;
}

/* Selected Option */
.custom-select-selected {
  flex: 1;
}

/* Custom Arrow */
.custom-select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  font-size: 12px;
  color: #666;
}

/* Options Container */
.custom-select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Individual Options */
.custom-select-option {
  padding: 8px 12px;
  cursor: pointer;
  color: #333;
}

.custom-select-option:hover {
  background-color: #f0f0f0;
}

/* Show options when select is active */
.custom-select.active .custom-select-options {
  display: block;
}

/*CRAWL HISTORY TABLE*/
.table_history {
  /* height: 100%; */
  border-collapse: collapse;
  border-spacing: 0 10px;
  width: 100%;
  text-align: center;

  thead {
    th {
      padding: 10px;
      font-weight: 800;
    }
  }

  td {
    padding: 5px;
  }
}

/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height of the horizontal scrollbar */
}

/* Style the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  @apply bg-brand-highlight dark:bg-sky-500;
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Style the draggable part of the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-brand-highlight dark:bg-sky-500;
}

/* Style the bottom-right corner where two scrollbars meet */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/*Cards animations*/

/* styles.css or global.css */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Slightly move from below */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.2s ease-out;
}

/*---------------- LOADER ANIMATION ----------------*/
/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 #0004;
  animation: inherit;
  animation-delay: -0.5s;
}
.loader:after {
  animation-delay: -1s;
}
@keyframes l2 {
  100% {
    box-shadow: 0 0 0 40px #0000;
  }
}
