@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 224, 224, 224;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.crawl-item {
  opacity: 0;
  animation:
    fadeIn 0.01s ease-in forwards,
    fadeIn 0.1s ease-in forwards;
}

input:focus {
  outline: none;
  box-shadow: none; /* Removes any box-shadow if present */
}

/* Tables Styles */

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

thead {
  @apply bg-gray-200 py-1 z-10 overflow-clip;
}

th {
  padding: 4px 0;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: slategray;
  z-index: 1;
  color: white;
  border-radius: 0 !important;
}

tr {
  padding: 20px 0;
  vertical-align: center;
}

td {
  padding: 2px 0;
  border: 1px solid #ddd;
  vertical-align: center;
}

pre {
  display: overflow-scroll;
  height: 28rem !important;
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.1),
    0 4px 11px rgba(0, 0, 0, 0.1);
}

.mantine-Drawer-root,
.mantine-Drawer-inner,
.mantine-Drawer-content {
  margin: 75px 0 35px 0;
  overflow: hidden !important ;
  padding: 0 !important;
}

.mantine-Drawer-body {
  padding: 0 !important;
}

.todoItems {
  height: calc(85vh - 100px);
  overflow: unset;
  padding-right: 10px;
}
